body {
  text-align: center;
  padding: 10px;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  background-color: rgb(62, 35, 184);
}

.count {
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 27px 20px 5px rgb(253, 253, 253, 0.15);
}

h1 {
  color: #000;
}
span {
  color: orange;
}
.btn button {
  margin-right: 10px;
  text-decoration: none;
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.btn button:hover {
  transition: ease-in 0.2s;
  box-shadow: 0 27px 20px 5px rgba(0, 0, 0, 0.12);
}
